# Python入門 〜基本文法編〜

https://a-lucky.github.io/python_lecture_sphinx/build/html/index.html

## Introduction

In [84]:
print("Hello, Pythonic world!")

Hello, Pythonic world!

## Variable

In [85]:
x = 2017
print(x)
print(type(x))

2017
<class 'int'>

In [86]:
pi = 3.141592653
print(pi)
print(type(pi))

3.141592653
<class 'float'>

In [87]:
flag = True
print(flag)
print(type(flag))

True
<class 'bool'>

In [88]:
s = "Hello"
t = "world"
print(s, t)
print(type(s), type(t))

Hello world
<class 'str'> <class 'str'>

In [89]:
# new

sentence = """祇園精舎の鐘の声
諸行無常の響きあり"""
print(sentence)
print(type(sentence))

祇園精舎の鐘の声
諸行無常の響きあり
<class 'str'>

In [90]:
yorosiku = "4649"
print(yorosiku)
print(type(yorosiku))
yorosiku = int(yorosiku)
print(yorosiku)
print(type(yorosiku))

4649
<class 'str'>
4649
<class 'int'>

## Calculation

In [91]:
1 + 1

2

In [92]:
2 * 2

4

In [93]:
5 / 2

2.5

In [94]:
7 % 3

1

In [95]:
3 ** 2

9

In [96]:
100 == 100 or 100 != 100

True

In [97]:
100 == 100 and 100 != 100

False

In [98]:
not 100 != 100

True

## if elif else

In [99]:
year = 2017
if year > 2017:
    print("Future")
elif year < 2017:
    print("past")
else:
    print("Now")

Now

In [100]:
# new
year = 2000
if 1901 <= year < 2001:
    print("20th century")

20th century

### (True thing) if (judge) else (False thing)

In [101]:
# new
val = 39
result = "even" if val % 2 == 0 else "odd"
print(result)

odd

## == or is

In [102]:
str_a = "Apple star"
str_b = "Apple star"
str_c = str_a

In [103]:
# new
print(id(str_a))
print(id(str_b))
print(id(str_c))

4403448432
4403449008
4403448432

In [104]:
if str_a == str_b:
    print("str_a == str_b")
else:
    print("str_a != str_b")

str_a == str_b

In [105]:
# new
if str_a is str_b:
    print("str_a is str_b")
else:
    print("str_a isn't str_b")

str_a isn't str_b

In [106]:
if str_a == str_c:
    print("str_a == str_c")
else:
    print("str_a != str_c")

str_a == str_c

In [107]:
if str_a is str_c:
    print("str_a is str_c")
else:
    print("str_a isn't str_c")

str_a is str_c

## list

In [108]:
empty = []
print(type(empty))

<class 'list'>

In [109]:
fruits = ["apple", "banana", "peach"]
print(fruits)

['apple', 'banana', 'peach']

In [110]:
print(fruits[0])

apple

In [111]:
fruits.append("lemmon")
print(fruits)
print(len(fruits))

['apple', 'banana', 'peach', 'lemmon']
4

In [112]:
# new
print(", ".join(fruits))

apple, banana, peach, lemmon

In [113]:
# new
"apple, banana, peach, lemmon".split(", ")

['apple', 'banana', 'peach', 'lemmon']

In [114]:
if "lemmon" in fruits:
    print("exist lemmon")
if "orange" not in fruits:
    print("not exist orange")

exist lemmon
not exist orange

In [115]:
# new
print(["str", 50, 3.14, ["a"]])

['str', 50, 3.14, ['a']]

## minus index and slice

In [116]:
numbers = [0, 1, 2, 3, 4, 5]
numbers += [6, 7, 8, 9]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
print(numbers[-1], numbers[len(numbers) - 1])
print(numbers[-3], numbers[7])

9 9
7 7

In [118]:
print(numbers[:6])
print(numbers[3:])
print(numbers[5:-3])

[0, 1, 2, 3, 4, 5]
[3, 4, 5, 6, 7, 8, 9]
[5, 6]

### set

In [119]:
# new
print(numbers[::2])
print(numbers[::3])
print(numbers[::-1], list(reversed(numbers)))

[0, 2, 4, 6, 8]
[0, 3, 6, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0] [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [120]:
print(numbers[::-2])

[9, 7, 5, 3, 1]

In [121]:
# new
print(("000" + "1")[-4:])
print(("000" + "20")[-4:])
print(("000" + "300")[-4:])
print("2".zfill(4))

0001
0020
0300
0002

## copy list

In [122]:
zero_vec = [0] * 10
print(zero_vec)
copy_vec = zero_vec
print(copy_vec)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [123]:
print(id(zero_vec))
print(id(copy_vec))

4403473224
4403473224

In [124]:
copy_vec[1] = 1
print(copy_vec)
print(zero_vec)
print(id(copy_vec))
print(id(zero_vec))

[0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
4403473224
4403473224

In [125]:
# new
zero_vec = [0] * 10
print(zero_vec)
copy_vec = zero_vec[:]
print(copy_vec)
print(id(copy_vec))
print(id(zero_vec))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4402776456
4402911176

In [126]:
copy_vec[1] = 1
print(copy_vec)
print(zero_vec)
print(id(copy_vec))
print(id(zero_vec))

[0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4402776456
4402911176

## tuple
new

In [127]:
empty = ()
print(type(empty))

<class 'tuple'>

In [128]:
fruits = ("apple", "banana", "peach")
print(fruits)
print(fruits[0])
print(fruits[1::-1])

('apple', 'banana', 'peach')
apple
('banana', 'apple')

In [129]:
# fruits.append("lemmon")

## tuple pack, sequence unpack
new

In [130]:
pack = 1, 2, 3
print(pack)

(1, 2, 3)

In [131]:
a, b, c = "ABC"
print(a)
print(b)
print(c)

A
B
C

In [132]:
a = "3"
b = "5"
print(a, b)
a, b = b, a
print(a, b)

3 5
5 3

## loop

In [133]:
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

In [134]:
print(range(4))
print(list(range(4)))
print(list(range(1, 5)))

range(0, 4)
[0, 1, 2, 3]
[1, 2, 3, 4]

In [135]:
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 peach

In [136]:
for fruit in fruits:
    print(fruit)

apple
banana
peach

In [137]:
# new
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 peach

## technic of write combination

In [138]:
for i, fruit1 in enumerate(fruits):
    for j, fruit2 in enumerate(fruits):
        if i < j:
            print(fruit1 + " and " + fruit2)

apple and banana
apple and peach
banana and peach

In [139]:
# new
import itertools

In [140]:
for fruit1, fruit2 in itertools.combinations(fruits, 2):
     print(fruit1 + " and " + fruit2)

apple and banana
apple and peach
banana and peach

In [141]:
for fruit1, fruit2, fruit3 in itertools.combinations(fruits, 3):
     print(fruit1 + " and " + fruit2 + " and " + fruit3)

apple and banana and peach

## for else
new

In [142]:
people = ["a", "b", "c", "d"]
lupin = "x"
for person in people:
    if person == lupin:
        print("lupin!")
        break
else:
    print("no error")

no error

## while

In [143]:
i = 1
while True:
    if i % 56 == 0 and i % 48 == 0:
        j = i / 56, i / 48
        break
    else:
        pass
    i += 1
print(j)

(6.0, 7.0)

## dictionary

In [144]:
empty = {}
print(type(empty))

<class 'dict'>

In [145]:
name2age = {
    "Yoshida": 30,
    "Suzuki": 28,
    "Tanaka": 25
}
print(name2age)
print(type(name2age))

{'Tanaka': 25, 'Yoshida': 30, 'Suzuki': 28}
<class 'dict'>

In [146]:
print(name2age["Suzuki"])

28

In [147]:
name2age["NijimaJo"] = 2017 - 1843
print(name2age)

{'Tanaka': 25, 'Yoshida': 30, 'NijimaJo': 174, 'Suzuki': 28}

In [148]:
person = "Sato"
if person not in name2age:
    print("Not found " + person + "'s age ")

Not found Sato's age

In [149]:
for name in name2age:
    print(name)

Tanaka
Yoshida
NijimaJo
Suzuki

In [150]:
for age in name2age.values():
    print(age)

25
30
174
28

In [151]:
for name, age in name2age.items():
    print("{0} is {1} years old.".format(name, age))

Tanaka is 25 years old.
Yoshida is 30 years old.
NijimaJo is 174 years old.
Suzuki is 28 years old.

## set

In [152]:
empty = set()
print(type(empty))

<class 'set'>

In [153]:
seasoning = ["salt", "pepper", "salt", "suger", "salt"]
print(seasoning)
print(type(seasoning))

seasoning = set(seasoning)
print(seasoning)
print(type(seasoning))

['salt', 'pepper', 'salt', 'suger', 'salt']
<class 'list'>
{'suger', 'salt', 'pepper'}
<class 'set'>

In [154]:
set1 = {"a", "b", "c"}
set2 = {"b", "c", "d"}

In [155]:
#new
set1 | set2

{'a', 'b', 'c', 'd'}

In [156]:
set1 & set2

{'b', 'c'}

In [157]:
set1 ^ set2

{'a', 'd'}

In [158]:
set1 - set2

{'a'}

In [159]:
set2 - set1

{'d'}

## defaultdict

In [160]:
sentence = "Peter Piper picked a peck of pickled peppers."
print(sentence.count("e"))

8

In [161]:
alphabet_counter = {}

for alphabet in sentence:
    if alphabet in alphabet_counter:
        alphabet_counter[alphabet] += 1
    else:
        alphabet_counter[alphabet] = 1
alphabet_counter

{' ': 7,
 '.': 1,
 'P': 2,
 'a': 1,
 'c': 3,
 'd': 2,
 'e': 8,
 'f': 1,
 'i': 3,
 'k': 3,
 'l': 1,
 'o': 1,
 'p': 7,
 'r': 3,
 's': 1,
 't': 1}

In [162]:
from collections import defaultdict

alphabet_counter = defaultdict(int)

for alphabet in sentence:
    alphabet_counter[alphabet] += 1
alphabet_counter

defaultdict(int,
            {' ': 7,
             '.': 1,
             'P': 2,
             'a': 1,
             'c': 3,
             'd': 2,
             'e': 8,
             'f': 1,
             'i': 3,
             'k': 3,
             'l': 1,
             'o': 1,
             'p': 7,
             'r': 3,
             's': 1,
             't': 1})

In [163]:
# new
sorted(alphabet_counter.items(), key = lambda x: x[1], reverse=True)

[('e', 8),
 ('p', 7),
 (' ', 7),
 ('c', 3),
 ('k', 3),
 ('i', 3),
 ('r', 3),
 ('P', 2),
 ('d', 2),
 ('s', 1),
 ('l', 1),
 ('.', 1),
 ('f', 1),
 ('o', 1),
 ('t', 1),
 ('a', 1)]

In [164]:
items = list(alphabet_counter.items())
print(items)
print(items[0])
print(items[0][1])

[('s', 1), ('c', 3), ('l', 1), ('p', 7), ('.', 1), ('k', 3), ('i', 3), ('P', 2), ('f', 1), ('d', 2), (' ', 7), ('r', 3), ('e', 8), ('o', 1), ('t', 1), ('a', 1)]
('s', 1)
1

## double defaultdict

In [165]:
# double_dict = defaultdict(defaultdict(int))

In [166]:
# new
double_dict = defaultdict(lambda: defaultdict(int))

In [167]:
double_dict["Hanazawa"]["Katsuo"]  = "follow"
double_dict["Katsuo"]["Hanazawa"]  = "not follow"
double_dict

defaultdict(<function __main__.<lambda>>,
            {'Hanazawa': defaultdict(int, {'Katsuo': 'follow'}),
             'Katsuo': defaultdict(int, {'Hanazawa': 'not follow'})})

## None

In [168]:
values = [3, None, 4]
print(values)
print(values[1])

[3, None, 4]
None

In [169]:
for val in values:
    if val is not None:
        print(val)
    if val:
        print(val)

3
3
4
4

## pickle

In [170]:
siritori = {
    "apple" : 0,
    "monkey": 1,
    "aaa": 2,
    "bbb": 3
}
siritori

{'aaa': 2, 'apple': 0, 'bbb': 3, 'monkey': 1}

In [171]:
import pickle
file = open("siritori.pkl", "wb")
pickle.dump(siritori, file, pickle.HIGHEST_PROTOCOL)
file.close()

In [172]:
# new
!ls -la

total 96
-rw-r--r--  1 hiro  staff  38931 10  5 13:12  Python01.ipynb
drwxr-xr-x  6 hiro  staff    204 10  5 13:12 .
drwxr-xr-x  7 hiro  staff    238  9 28 13:08 ..
drwxr-xr-x  3 hiro  staff    102  9 28 15:43 .ipynb_checkpoints
-rw-r--r--  1 hiro  staff     20 10  5 13:10 .python-version
-rw-r--r--  1 hiro  staff     53 10  5 13:12 siritori.pkl

In [173]:
file = open("siritori.pkl", "rb")
siritori2 = pickle.load(file)
file.close()
siritori2

{'aaa': 2, 'apple': 0, 'bbb': 3, 'monkey': 1}

In [174]:
with open("siritori.pkl", "wb") as f:
    pickle.dump(siritori, f, pickle.HIGHEST_PROTOCOL)

In [175]:
with open("siritori.pkl", "rb") as f:
    siritori2 = pickle.load(f)
siritori2

{'aaa': 2, 'apple': 0, 'bbb': 3, 'monkey': 1}

## function

In [176]:
def average(arg_a, arg_b):
    return (arg_a + arg_b) / 2

In [177]:
average(3, 4)

3.5

In [178]:
# average("a", "b")

In [179]:
def pow(x, y=2):
    return x ** y

In [180]:
print(pow(3))
print(pow(3, 3))

9
27

In [181]:
def info(name, address, age):
    print("{0} who lives in {1} is {2} years old.".format(name, address, age))

In [182]:
info("Hanawa", "Saga", 41)

Hanawa who lives in Saga is 41 years old.

In [183]:
info(address="Saga", age=41, name="Hanawa")

Hanawa who lives in Saga is 41 years old.

## technics
new

### run time

In [184]:
%%timeit
array = []
for x in range(100000):
    array.append(x)

19.3 ms ± 1.72 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [185]:
%%timeit
array = [x for x in range(100000)]

10.4 ms ± 90 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### memory

In [186]:
array = [x for x in range(10000)]

In [187]:
%whos

Variable           Type              Data/Info
----------------------------------------------
a                  str               5
age                int               28
alphabet           str               .
alphabet_counter   defaultdict       defaultdict(<class 'int'><...> 'o': 1, 't': 1, 'a': 1})
array              list              n=10000
average            function          <function average at 0x106777ae8>
b                  str               3
c                  str               C
copy_vec           list              n=10
defaultdict        type              <class 'collections.defaultdict'>
double_dict        defaultdict       defaultdict(<function <la<...>, {'Katsuo': 'follow'})})
empty              set               set()
f                  BufferedReader    <_io.BufferedReader name='siritori.pkl'>
file               BufferedReader    <_io.BufferedReader name='siritori.pkl'>
flag               bool              True
fruit              str               peach
fruit1             str               apple
fruit2             str               banana
fruit3             str               peach
fruits             tuple             n=3
i                  int               336
info               function          <function info at 0x106781048>
items              list              n=16
itertools          module            <module 'itertools' (built-in)>
j                  tuple             n=2
lupin              str               x
name               str               Suzuki
name2age           dict              n=4
numbers            list              n=10
pack               tuple             n=3
people             list              n=4
person             str               Sato
pi                 float             3.141592653
pickle             module            <module 'pickle' from '/U<...>lib/python3.5/pickle.py'>
pow                function          <function pow at 0x106781950>
result             str               odd
s                  str               Hello
seasoning          set               {'suger', 'salt', 'pepper'}
sentence           str               Peter Piper picked a peck of pickled peppers.
set1               set               {'c', 'b', 'a'}
set2               set               {'d', 'c', 'b'}
siritori           dict              n=4
siritori2          dict              n=4
str_a              str               Apple star
str_b              str               Apple star
str_c              str               Apple star
t                  str               world
val                int               4
values             list              n=3
x                  int               2017
year               int               2000
yorosiku           int               4649
zero_vec           list              n=10

In [188]:
del array

In [189]:
%whos

Variable           Type              Data/Info
----------------------------------------------
a                  str               5
age                int               28
alphabet           str               .
alphabet_counter   defaultdict       defaultdict(<class 'int'><...> 'o': 1, 't': 1, 'a': 1})
average            function          <function average at 0x106777ae8>
b                  str               3
c                  str               C
copy_vec           list              n=10
defaultdict        type              <class 'collections.defaultdict'>
double_dict        defaultdict       defaultdict(<function <la<...>, {'Katsuo': 'follow'})})
empty              set               set()
f                  BufferedReader    <_io.BufferedReader name='siritori.pkl'>
file               BufferedReader    <_io.BufferedReader name='siritori.pkl'>
flag               bool              True
fruit              str               peach
fruit1             str               apple
fruit2             str               banana
fruit3             str               peach
fruits             tuple             n=3
i                  int               336
info               function          <function info at 0x106781048>
items              list              n=16
itertools          module            <module 'itertools' (built-in)>
j                  tuple             n=2
lupin              str               x
name               str               Suzuki
name2age           dict              n=4
numbers            list              n=10
pack               tuple             n=3
people             list              n=4
person             str               Sato
pi                 float             3.141592653
pickle             module            <module 'pickle' from '/U<...>lib/python3.5/pickle.py'>
pow                function          <function pow at 0x106781950>
result             str               odd
s                  str               Hello
seasoning          set               {'suger', 'salt', 'pepper'}
sentence           str               Peter Piper picked a peck of pickled peppers.
set1               set               {'c', 'b', 'a'}
set2               set               {'d', 'c', 'b'}
siritori           dict              n=4
siritori2          dict              n=4
str_a              str               Apple star
str_b              str               Apple star
str_c              str               Apple star
t                  str               world
val                int               4
values             list              n=3
x                  int               2017
year               int               2000
yorosiku           int               4649
zero_vec           list              n=10

### other magic commnad

In [190]:
%quickref

In [191]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!